   html,body{
                height:100%;
                width:100%;
                padding:0;
            }
            img{
                height:60%;
            }
            textarea{
                display:block;
                margin:auto;
            }
            audio{
              width:0;
              height:0;
            }
            #title{
                text-align:center;
            }
            #content{
                text-align:center;
                width:80%;
                background-color:whitesmoke;
                margin:auto;
            }
            #cancel:hover{
                border-color:black;
                color:black;
            }
            .switch:hover{
                opacity:0.9;
            }
            #music_view{
              width:700px;
              padding:0;
            }
            #music_picture{
              width:700px;
              height:500px;
              background-color:wheat;
              margin:auto;
            }
            #control{
              width:700px;
              height:50px;
              background-color:#E8E8E8;
              margin:auto;
              display:flex;
              align-items:center;
            }
            #stop{
              width:10%;
            }
            #pause{
              width:10%;
              opacity:0.4;
            }
            #process{
              width:70%;
            }
            #download{
              width:10%;
            }
            #process_bar{
              width:100%;
              height:0.3em;
              background-color:whitesmoke;
              display:inline-flex;
              box-shadow: 0px 0px 4px 2px gray;
            }
            #process_in{
              width:0;
              height:0.3em;
              background-color:gray;
              transition:width 0.5s;
            }

            .button{
              display:inline-flex;
              align-items:center;
              justify-content:center;
              height:50px;
            }